*{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
}

body {
        font-family: sans-serif;
}


/* START HEADER SECTION */

header {
        height: 95vh;
       /*  background-image:linear-gradient(steelblue,lightskyblue); */
       /* background-image: url("./assets/img/banner/banner8.jpg"); */
        background-repeat: no-repeat;
        background-position: center;

        position: relative;

transition:all 2s linear;
}

/* Start navbar */
.navbar {
        background:linear-gradient(to right, rgba(0,0,0,1),rgba(0,0,0,.5));
}


.nav-link {
        font-size: 16px;
        color: #fff !important;   /*you can overwrite bs color*/
}

.navbar-toggler,
.navbar-toggler:hover,
.navbar-toggler:focus {
        border: none;
        outline: none;
        box-shadow: none;
}


.dropdowns {
        position: relative;
}

.drop-btn:hover {
        background: none !important;
}

.dropdown-contents {
        width: 230px;
        background-color: #f6f6f6;
        position: absolute;
        left: 50%;
        z-index: 10;

        transform: translateX(-50%);
        display: none;  /*for searbar*/
}

.dropdown-contents > .search {
        width: 100%;
        background-image: url("./assets/img/icon/searchicon.png");
        background-repeat: no-repeat;
        background-position: 10px center; /* x and y*/
        border: none;
        border-bottom: 1px solid #ddd;
        padding: 10px 5px 10px 40px;
}

.dropdown-contents > .search:focus {
        outline: none;
}


.dropdown-contents > a{
        color: #000;
        text-decoration: none;
        display: block;
        padding: 10px;
}


.dropdowns a:hover {
        background-color: #ddd;
}


.dropdown-contents.show {
        display: block;
}

/* End navbar */

/* Start banner */
.banners {
        color: #fff;
        font-weight: 900;
        text-align: center;

        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);  /* 51px - 1 = 50px*/

        animation: bannerAni 2s;
}

.banner-headers {
        /* width: 600px; */  /*all sizes*/
        min-width: 600px; /*effect started in 600px*/
        background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.3));
        border: 2px dashed #fff;
        padding: 20px;
        box-shadow: 10px 10px  100px  20px #000;
}

.banner-paragraphs {
        animation: bannerAni 2s;
        animation-delay: .5s;
        animation-fill-mode: backwards; /*hide before animation coming in*/
}


@keyframes bannerAni{
        from {
                /*transform: translateY(100px);*/  /*need here*/
                bottom: 50px;
                opacity: 0;
        }
        to{
                /* transform: translateY(0px); */
                bottom: 0px;
                opacity: 1;
        }
}
/* End banner */


/* END HEADER SECTION */



/* START BOOKING SECTION */
.search-rooms {
        width: 80%;
        background: linear-gradient(to left,skyblue,steelblue);

        padding: 30px 0;
        margin-top: -60px;

        position: absolute;
        left: 50%;
        transform: translateX(-50%);
}

.search-rooms .form-control {
        /* width: 20%;  */ /*all sizes*/
        max-width: 20%; /*most ended in 20*/
        display: inline;
        border-radius: 0;
        border: none;
        margin: 10px 5px;
}

.search-rooms .form-control:focus {
        box-shadow: none;
}

.search-rooms input[type=text] {
        width: 200px;
        transition: width .5s ease-in-out;
}

.search-rooms input[type=text]:focus {
        width: 100%;
}
/* END BOOKING SECTION */

/* START ROOMS SECTION */
.rows {
        display: flex;
        flex-wrap: wrap;
}

.columns {
        flex: 25%; /*for flex-box = it can't work without max-width: 25%; */
        max-width: 25%; /*notice here*/
        padding: 0 5px; /*notice here*/
}

.columns img {
        width: 100%; /*notice here*/
        margin: 8px; /*notice here*/
}

.columns img:hover {
        opacity: .8;
}

/* Query Area */
@media (max-width:800px) {
        .columns {
                flex: 50%; /*for flex-box = it can't work without max-width: 50%; */
                max-width: 50%;
        }
}
/* END ROOMS SECTION */


/* START OUR SERVICES SECTION */
.iconBoxes {
        background-color: #fff;
        box-shadow: 0 3px 20px rgba(0,0,0,2);
        padding: 50px 20px;
        position: relative;


}

.iconBoxes::before {
        content: '';
        width: 100%;
        height: 5%;
        background-color: purple;

        position: absolute;
        left: 0;
        bottom: 0;
        transition: height .5s;
}

.iconBoxes:hover::before{
        height: 8%;
}

.icons {
        width: 70px;
        height: 70px;
        background-color: purple;
        color: #fff;
        /* line-height: 70px; */
        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        /* Method 1 for left */
        /* left: 50%; */

        /* Method 2 for left*/
        left: calc(50% - 35px); /*must space / 50%(51px) / width:70px - 35px*/

        /* Method 1 for top*/
        top: -35px;
        /* Method 2 for top*/
        /* top: -50%; */

        /* Method 1 for left */
        /* transform: translate(-50%); */

        /* Method 2 for top*/
        /* transform: translate(-50%); */


        transform: rotate(45deg);

        transition: all .5s ease-in-out;

}

.icons i{
        transform: rotate(-45deg); /*not to rotate according to above */
}

.iconBoxes:hover .icons {
        background:none;
        color: purple;
        border: 2px solid purple;
}
/* END OUR SERVICES SECTION */


/* START TESTMONIAL SECTION */
.testimonial-container {
        position: relative;
}

.fa-quotes {
        color: rgba(255,255,255,.3);
        font-size: 28px;
        position: absolute;
        top: 40px;
}

.fa-quote-left {
        left: 0;
}

.fa-quote-right {
        right: 0;
}

.testimonial {
        line-height: 30px;
}

.progress-bar {
        width: 100%;
        height: 4px;
        background-color:tomato;
        transform-origin: left;
        animation: myincrement 10s linear infinite;
}

@keyframes myincrement {
        0% {
                transform: scaleX(0);
        }
}
/* END TESTMONIAL SECTION */


/* START ADV TEXT SECTION */
.adv-container {
        height: 400px;
        background-image: url("./assets/img/banner/banner11.jpg");
        background-size: cover;
        position: relative;
}

.advText{
        width: 50%;
        font-family: sans-serif;
        background-color: #fff;
        color: #000;
        font-size: 5vw;
        font-weight: bold;
        text-align: center;
        padding: 5px;
        margin: auto;

        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);

        /* mix-blend-mode: multiply; */
        mix-blend-mode: screen;  /*work like a transparent*/
}

.adv-container:hover {
        animation: myAdv 3s infinite linear alternate;
}

@keyframes myAdv{
        0%{
                background-image: url('./assets/img/banner/banner11.jpg');
        }
        50%{
                background-image: url('./assets/img/banner/banner10.jpg');
        }
        100%{
                background-image: url('./assets/img/banner/banner12.jpg');
        }
}
/* END ADV TEXT SECTION */

/* START STAFFS SECTION */
.cards {
        width: 250px;
        box-shadow: 0 5px 5px rgba(0,0,0,.3);
        text-align: center;
        margin: auto;
        padding: 0; /*overwrite bs padding cuz of row*/
}

.cards img {
        width: 100%;
}

.cards .title {
        font-size: 18px;
        color: grey;
}

.cards a {
        text-decoration: none;
        color: #000;
        font-size: 22px;
}

.cards button {
        width: 100%;
        background: #000;
        border: none;
        color: #fff;
        font-size: 18px;
        padding: 8px;
        outline: none;
}

.cards button:hover {
        opacity: 0;
}
/* END STAFFS SECTION */


/* START PROPERTY SECTION */
#properties {
        color: #777;
        user-select: none;
        cursor: pointer;
}

.activeItems {
        color: #000;
}

.filters {
        display: none;
}

.show{
        display: block;
}
/* END PROPERTY SECTION */


/* START CONTACT SECTION */
.tabContents{
        color: #fff;
        text-align: center;
         display: none;
}

#phone{
        background-color:grey;
}

#social{
        background-color:steelblue;
}

#website{
        background-color: slategray;
}
#address{
        background-color: slateblue;
}

.btn-tabs {
        width: 25%;
        background-color: #666;
        border: none;
        color: #fff;
        outline: none;
        padding: 15px 20px;
        cursor: pointer;
        float: left;
}
.btn-tabs:hover{
        background-color: #888;
}
/* END CONTACT SECTION */